Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s="pw skills"
l=[23,"Chinmay",89.06,"om"]
f=3.14
t=(10,20,30,40,50,60)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [3]:
type(var1)

str

In [4]:
type(var2)

str

In [5]:
type(var3)

list

In [6]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [7]:
# '/' is used for divison
print(9/3)

3.0

In [8]:
# '%' is used for remainder
print(10%3)

1

In [9]:
# '//' is used for taking int value of quotient 
print(10//3)

3

In [10]:
# '**' is used for taking power of the number
print(2**3) #means 2 to the power 3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
l=[20,45,"chinmay","sahil",78.90,78,True,"rahul",False,7]

In [12]:
for item in l:
    print(f"{item}: {type(item)}")

20: <class 'int'>
45: <class 'int'>
chinmay: <class 'str'>
sahil: <class 'str'>
78.9: <class 'float'>
78: <class 'int'>
True: <class 'bool'>
rahul: <class 'str'>
False: <class 'bool'>
7: <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a= 18
b=3
count=0
while a%b==0 :
    count+=1
print(a,"divisible by",b,count,"times")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
l=list(range(1,26))

for i in range(len(l)):
    if i % 3==0:
        print(f"{i} is divisible by 3.")
    else :
        print(f"{i} is not divisible by 3.")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable data type :
    1.It is the data which can be modify 
    2.List is the example of mutable data
    3.It takes more space and time than immutable data types
    
immutable data type :
    1. It is the data which can't modify
    2.tuple is the example of immutable data type

In [1]:
l=[1,2,3]

In [2]:
l

[1, 2, 3]

In [3]:
l[0]=8

In [4]:
l

[8, 2, 3]

In [5]:
t=(1,2,3)

In [6]:
t[0]=6

TypeError: 'tuple' object does not support item assignment

As you can see it throws error in tuple