
Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is an organized collection of data that can be easily accessed, managed, and updated. It provides a way to store, retrieve, and manipulate data efficiently.

Difference between SQL and NoSQL Databases:
Data Structure:
SQL databases are structured and use tables to store data in rows and columns. NoSQL databases are schema-less and store data in formats like key-value pairs, documents, or graphs.

Scalability:
SQL databases scale vertically (adding more power to the existing server), whereas NoSQL databases scale horizontally (adding more servers to the system).

Query Language:
SQL databases use structured query language (SQL) for querying data. NoSQL databases do not have a fixed query language; they rely on specific database APIs.

Use Case:
SQL databases are ideal for applications requiring complex queries and transactions (e.g., banking systems). NoSQL databases are suitable for applications dealing with unstructured data or requiring high scalability (e.g., social media platforms).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with examples.
DDL (Data Definition Language) is used to define and manage database structures such as tables, schemas, and indexes.

CREATE: Used to create a new database object like a table.

In [ ]:
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

DROP: Used to delete a database object permanently.

In [ ]:
DROP TABLE students;

ALTER: Used to modify an existing database object.

In [ ]:
ALTER TABLE students ADD email VARCHAR(100);

TRUNCATE: Used to remove all records from a table without logging individual row deletions.

In [ ]:
TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with examples.
DML (Data Manipulation Language) is used to manipulate the data within database tables.

INSERT: Used to add new records to a table.


INSERT INTO students (id, name, age) VALUES (1, 'Alice', 20);

UPDATE: Used to modify existing records in a table.


UPDATE students SET age = 21 WHERE id = 1;

DELETE: Used to remove records from a table.

DELETE FROM students WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language) is used to retrieve data from a database. The primary command in DQL is SELECT.

Example:

sql
Copy code
SELECT name, age FROM students WHERE age > 18;

This query retrieves the name and age of students whose age is greater than 18.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a unique identifier for each record in a table. It ensures that no duplicate or null values exist in the column(s) defined as the primary key.
Example:


CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50)
);

Foreign Key:
A foreign key establishes a relationship between two tables by linking a column in one table to the primary key in another.
Example:


CREATE TABLE enrollments (
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES students(id)
);

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() methods.

In [ ]:
import mysql.connector

# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="school"
)

cursor = connection.cursor()  # Create a cursor object
cursor.execute("SELECT * FROM students;")  # Execute a SQL query

for row in cursor.fetchall():
    print(row)

connection.close()  # Close the connection

Explanation:

cursor():
Creates a cursor object that allows you to execute SQL queries and fetch results.

execute():
Executes a given SQL query. It takes the query as an argument and interacts with the database.

Q7. Give the order of execution of SQL clauses in an SQL query.


The order of execution of SQL clauses in a query is as follows:

FROM: Determines the source table(s).


JOIN: Combines rows from multiple tables.

WHERE: Filters rows based on conditions.

GROUP BY: Groups rows sharing a property.

HAVING: Filters groups based on conditions.

SELECT: Selects the columns to display.

ORDER BY: Sorts the result.

LIMIT: Limits the number of rows returned.

In [ ]:
SELECT name, COUNT(*)
FROM students
WHERE age > 18
GROUP BY name
HAVING COUNT(*) > 1
ORDER BY name
LIMIT 10;