
Q1. Five functions of the pandas library with execution

In [1]:
import pandas as pd

# 1. Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# 2. Describing a DataFrame
print("\nDescribe:")
print(df.describe())

# 3. Checking for null values
print("\nCheck for null values:")
print(df.isnull())

# 4. Adding a new column
df['Country'] = ['USA', 'UK', 'Canada']
print("\nAfter adding a column:")
print(df)

# 5. Grouping by a column
grouped = df.groupby('Country')['Age'].mean()
print("\nGrouped by 'Country':")
print(grouped)

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Describe:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

Check for null values:
    Name    Age
0  False  False
1  False  False
2  False  False

After adding a column:
      Name  Age Country
0    Alice   25     USA
1      Bob   30      UK
2  Charlie   35  Canada

Grouped by 'Country':
Country
Canada    35.0
UK        30.0
USA       25.0
Name: Age, dtype: float64

Q2. Re-indexing DataFrame with a new index

In [2]:
def reindex_dataframe(df):
    df.index = range(1, len(df) * 2, 2)
    return df

Q3. Sum of the first three values in the 'Values' column

In [4]:
def sum_first_three(df):
    total = df['Values'][:3].sum()
    print(f"Sum of the first three values: {total}")

Q4. Creating a 'Word_Count' column

In [5]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

Q5. Difference between DataFrame.size and DataFrame.shape

DataFrame.size: Returns the total number of elements in the DataFrame (rows Ã— columns).

DataFrame.shape: Returns a tuple representing the number of rows and columns.

Q6. Function to read an Excel file

Use pd.read_excel().

Q7. Extracting username from email

In [6]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

Q8. Selecting rows based on conditions

In [7]:
def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

Q9. Calculating mean, median, and standard deviation

In [8]:
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std

Q10. Calculating moving average for the 'Sales' column

In [9]:
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

Q11. Creating 'Weekday' column from 'Date'

In [10]:
def add_weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

Q12. Selecting rows within a date range

In [11]:
def filter_by_date(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

Q13. Necessary library to import for pandas

In [12]:
import pandas as pd