Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4,8,15,16,23,42]
s = pd.Series(data)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

data = {
    'Name': ['orry', 'harry', 'aana'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.Series(data)
print(df)

Name         [orry, harry, aana]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [4]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.Series(data)
print(df)

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

 DataFrame in pandas is a 2-dimensional labeled data structure with columns that can be of different types. It can be thought of as an Excel spreadsheet or SQL table. On the other hand, a Series is a one-dimensional labeled array.

In [5]:
# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Creating a Series
s = pd.Series([1, 2, 3], name='A')

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head() and tail(): to view the first/last rows.
describe(): to get summary statistics.
groupby(): to group data based on certain criteria.
sort_values(): to sort the DataFrame by specific columns

In [6]:
# Using head(), describe(), and sort_values() functions
print(df.head())
print(df.describe())
print(df.sort_values(by='Age'))

   A  B
0  1  4
1  2  5
2  3  6
         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

KeyError: 'Age'

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Out of Series, DataFrame, and Panel, DataFrame is mutable in nature. You can modify its content, add or remove columns, etc

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd


names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female